

<div class="col-lg-12">
  <div class="desing-bar">
    <div class="border-radius">



        <div class="d-flex justify-content-start align-items-center flex-flow">
        <span *ngFor="let image of authorImage">
        <img [src]="image"
             width="42"
             height="42"
             alt="{{post.author}}_profile_picture"
             class="profile-picture-post"
        >
        </span>

      <a (click)="onGoProfile()" style="cursor: pointer">
          <p class="profile-name-post">{{post.author}}</p>

      </a>
          <div ngbDropdown
               class="post-edit"
               *ngIf="isEditable">
            <p ngbDropdownToggle></p>
            <ul ngbDropdownMenu>
              <li><a ngbDropdownItem
                     class="dropdown-item"
                     (click)="onDelete()">Delete</a></li>
            </ul>
          </div>


        </div>

      <p class="text-size">
        {{post.description}}
      </p>


      <div *ngFor="let url of images; index as i">
        <button style="border: unset"
                class="ratio ratio-1x1 bg-white"
                (click)="selectImage(url, i); open(content)"
                *ngIf="!post.imageInfo[indexOfSelectedImage].imageType.match('application/pdf')">
          <img *ngIf="post.imageInfo[i].imageType.match('image/*')"
               [src]="url"
               alt="{{url}}">

          <video *ngIf="post.imageInfo[i].imageType.match('video/*')" [src]="url" controls></video>
          <h1 *ngIf="post.imageInfo[indexOfSelectedImage].imageType.match('video/*')"> video</h1>
        </button>
        <a *ngIf="post.imageInfo[i].imageType.match('application/pdf')" [href]="url">
          pdf
        </a>
      </div>

      <ng-template #content
                   let-modal>
        <div class="modal-body ratio ratio-1x1" >
          <img *ngIf="post.imageInfo[indexOfSelectedImage].imageType.match('image/*')" [src]="selectedImage"
               alt="Selected Image">


          <video *ngIf="post.imageInfo[indexOfSelectedImage].imageType.match('video/*')" [src]="selectedImage"
                 controls></video>
        </div>
      </ng-template>




      <div class="d-flex justify-content-end align-items-end likes">
        <button class="btn btn-like"
                (click)="onLikeUp()"
                [ngClass]="{'active-like':isLiked }"
        >{{ post.likeCount }}</button>
      </div>


      <div>
        <button
          type="button"
          class="btn-comment"
          (click)="collapse.toggle()"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample"
        >
          Show comments {{post.comments.length}}
        </button>
        <div #collapse="ngbCollapse"
             [(ngbCollapse)]="isCollapsed">
          <app-create-comment [postId]="post.postId"></app-create-comment>
          <app-comment *ngFor="let commentEl of post.comments; index as i"
                       [comment]="commentEl"
                       [index]="i"
                       [post]=post
                       [postId]="post.postId">

          </app-comment>
        </div>
      </div>

    </div>
  </div>
</div>
<hr>
