<form [formGroup]="LogInFrom" (ngSubmit)="onSubmit()">
  <label
    for="username"
    class="form-label">UserName</label>
  <input
    id="username"
    name="username"
    type="text"
    formControlName="username"
    class="form-control">
  <label
    for="username"
    class="form-label">Password</label>
  <input
    id="password"
    name="username"
    type="password"
    formControlName="password"
    class="form-control">
  <button class="btn btn-success mt-3" type="submit">Log in</button>
</form>
  <button class="btn btn-primary mt-3 text-end" type="button" (click)="onRegister()"> Register </button>
    <a [routerLink]="['/auth/registration']" > Register</a>
