<form [formGroup]="LogInFrom"
      (ngSubmit)="onSubmit()">
  <label
    for="email"
    class="form-label">Email</label>
  <input
    id="email"
    name="email"
    type="email"
    formControlName="email"
    class="form-control">
  <label
    for="password"
    class="form-label">Password</label>
  <input
    id="password"
    name="password"
    type="text"
    formControlName="password"
    class="form-control">
  <button class="btn btn-success mt-3"
          type="submit">Log in
  </button>
  <div class="alert alert-danger d-flex justify-content-sm-between" role="alert" *ngIf="isError" (click)="onClose()">
        <span >
    {{errorMessages}}
    </span>
    <span style="cursor: pointer">
    X
    </span>
  </div>
</form>
<button class="btn btn-primary mt-3 text-end"
        type="button"><a [routerLink]="['/auth/registration']" style="color: white; text-decoration: unset"> Register</a></button>



