<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <label
    for="nickName"
    class="form-label">Nick Name</label>
  <input
    id="nickName"
    name="nickName"
    type="text"
    formControlName="nickName"
    class="form-control">
<span class="form-text d-block" *ngIf="nickName?.invalid && nickName?.touched">This name need to be valid</span>
  <label
    for="firstName"
    class="form-label">First Name</label>
  <input
    id="firstName"
    name="firstName"
    type="text"
    formControlName="firstName"
    class="form-control">
  <span class="form-text d-block" *ngIf="firstName?.invalid && firstName?.touched">This first Name need to be valid</span>
  <label
    for="lastName"
    class="form-label">Last Name</label>
  <input
    id="lastName"
    name="lastName"
    type="text"
    formControlName="lastName"
    class="form-control">
  <span class="form-text d-block" *ngIf="lastName?.invalid && lastName?.touched">This LastName need to be valid</span>
  <label
    for="password"
    class="form-label">Password</label>
  <input
    id="password"
    name="username"
    type="password"
    formControlName="password"
    class="form-control">
  <span class="form-text d-block" *ngIf="password?.invalid && password?.touched">This password need to be valid</span>
  <label
    for="email"
    class="form-label">Email</label>
  <input
    id="email"
    name="email"
    type="email"
    formControlName="email"
    class="form-control">
  <span class="form-text d-block" *ngIf="email?.invalid && email?.touched">This email need to be valid</span>
  <label
    for="country"
    class="form-label">Country</label>
  <input
    id="country"
    name="country"
    type="text"
    formControlName="country"
    class="form-control">
  <span class="form-text d-block" *ngIf="country?.invalid && country?.touched">This country need to be valid</span>
  <label
    for="faculty"
    class="form-label">Faculty</label>
  <select class="form-select" id="faculty" formControlName="faculty" name="faculty">
    <option value="FEIT">FEIT</option>
    <option value="FBI">FBI</option>
    <option value="FRI">FRI</option>
  </select>
  <span class="form-text d-block" *ngIf="faculty?.invalid && faculty?.touched">This Faculty need to be valid</span>
  <label class="form-label">Gender</label>
  <div>
    <select name="gender"
            class="form-select"
            id="gender"
    formControlName="gender"
    >
      <option selected value="" disabled>Select Option</option>
      <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
    </select>
  </div>
  <span class="form-text d-block" *ngIf="gender?.invalid && gender?.touched">This LastName need to be valid</span>

  <div class="d-flex justify-content-end w-95">
    <input type="file" class="file-upload" (change)="onFileSelected($event)" >
  </div>


  <button class="btn btn-success mt-3" type="submit" [disabled]="registerForm.invalid">Register</button>


  <div class="alert alert-danger d-flex justify-content-sm-between" role="alert" *ngIf="isError" (click)="onCloseError()">
        <span >
    {{errorMessages}}
    </span>
    <span style="cursor: pointer">
    X
    </span>
  </div>
</form>
