<div class="desing-bar">
  <div class="border-radius">
    <h3>Create post!</h3>

    <div class="d-flex justify-content-center margin-top">
      <textarea
        id="post"
        name="post"
        rows="7"
        placeholder="Say what's on your mind..."
        #postContent
      ></textarea>


    </div>

    <div class="container-fluid row mt-4">
      <div class="col">
        <label class="custom-file-upload">
          <input type="file"
                 multiple
                 (change)="onFileSelected($event)"
          />
          Upload file
        </label>
      </div>
      <div class="col-auto pe-0">
        <button class="btn btn-primary submit-button"
                (click)="onUpload(postContent.value)">
          Post
        </button>
      </div>
    </div>

  </div>
  <div class="alert alert-danger"
       *ngIf="error"
       (click)="error = false"
      style="cursor: pointer"
  >
    <div class="container row">
      <div class="col">
        {{ errorMessages }}
      </div>
      <div class="col-auto">
        X
      </div>
    </div>
  </div>

</div>
