<div class="desing-bar">
  <div class="border-radius">

    <ul class="list-group">
      <a
        [routerLink]="['posts']"
        class="list-group-item list-group-item-action menu-bar-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        Posts
      </a>
      <a
        [routerLink]="['settings']"
        class="list-group-item list-group-item-action menu-bar-item"
        routerLinkActive="active"
      >
        Settings
      </a>
      <a
        [routerLink]="['profile']"
        class="list-group-item list-group-item-action menu-bar-item"
        routerLinkActive="active"
      >
        Profile
      </a>
      <a
        [routerLink]="['search']"
        class="list-group-item list-group-item-action menu-bar-item"
        routerLinkActive="active"
      >
        Search
      </a>
    </ul>

  </div>
</div>

