<div class="container">
  <div class="row">
    <app-navbar></app-navbar>

    <div class="nav-bar-design">
      <nav class="navbar navbar-expand-lg bg-body-tertiary border-radius">
        <div class="container-fluid">

          <div class="d-flex justify-content-around">
            <div class="navbar-nav">
              <a class="nav-link" [routerLink]='["users"]' routerLinkActive="active">Users</a>
              <a class="nav-link" [routerLink]='["posts"]'>Posts</a>
            </div>
          </div>


        </div>
      </nav>
    </div>
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>


  </div>
</div>
