

// variables
$spaces-betwen-windows: 1rem
$desing-padding: 3em
$padding-betwen_items: 1.2em
$box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.25)
$box-shadow-inset: inset 0 0 7px 1px rgba(0, 0, 0, 0.2)

// main color
$main-color: #396dbd
$grey-color: #bababa

// secondary color
$secondary-color: #DDDDDD
$danger-color: rgb(212, 68, 68)

//text
$text-size: 0.8rem


// button styles
$button-padding: 1rem 18%

