

// variables
$spaces-betwen-windows: 1rem
$desing-padding: 3em
$padding-betwen_items: 1.2em

// main color
$main-color: #396dbd

// secondary color
$secondary-color: #DDDDDD
$danger-color: rgb(212, 68, 68)

//text
$text-size: 0.8rem


// button styles
$button-padding: 1rem 18%

